<table *ngIf="dataLoaded==true"  class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Açıklama</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Fiyat</th>
      </tr>
    </thead>
    <tr routerLink="cars/cardetail/{{car.id}}" *ngFor="let car of cars">
      <td>{{car.id}}</td>
      <td>{{car.description}}</td>
      <td>{{car.brandName}}</td>
      <td>{{car.colorName}}</td>
      <td>{{car.dailyPrice}}</td>
      <!-- <td><img src="https://localhost:44382\\uploads\\2f58fcfa-2398-4d7c-a249-845e66e757ce.jpg"></td> -->
    </tr>
  
  </table>